<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%d{MM/dd HH:mm:ss} [%highlight{%c{1}}] %m%n"/>
        </Console>
        <RollingFile
                name="Errors"
                fileName="logs/errors.log"
                filePattern="logs/%d{MM_dd}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} [%c{1}] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Errors" level="error"/>
        </Root>
    </Loggers>
</Configuration>