# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IDEA Projects\BotDev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Custom ignored files
/deployment.xml
/discord.xml
# Copyright directory
/copyright/
